<div class="container d-flex justify-content-center login">
  <form class="form-signin" [formGroup]="expertForm" style="width: 80%" (ngSubmit)="onSubmit()" novalidate>
    <div class="alert alert-info text-center text-capitalize">
      <h1 class="h3 mb-3 font-weight-normal">Page d'inscription d'un expert</h1>
    </div>
    <div class="form-group">
      <label for="inputFullname" class="sr-only">Nom complet de l'expert</label>
      <input type="text" id="inputFullname" [formControlName]="'fullname'" class="form-control" placeholder="Nom complet" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Adresse Email</label>
      <input type="text" id="inputEmail" [formControlName]="'email'" class="form-control" placeholder="Email" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputFonction" class="sr-only">Fonction</label>
      <input type="text" id="inputFonction" [formControlName]="'fonction'" class="form-control" placeholder="Fonction" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputMatricule" class="sr-only">Matricule</label>
      <input type="text" id="inputMatricule" [formControlName]="'matricule'" class="form-control" placeholder="Matricule" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputDateNaissance" class="sr-only">Date de naissance</label>
      <input type="date" id="inputDateNaissance" [formControlName]="'dateNaissance'" class="form-control" placeholder="Date de naissance" required="" autofocus="">
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/users/lists" class="btn  btn-lg btn-warning btn-block">Retour...</a>
      </div>
      <div class="col-md-6">
        <button class="btn btn-lg btn-success btn-block" type="submit">Enregistrer...</button>
      </div>
    </div>
  </form>
</div>
